!!!
!!! 5
%html
  %head
    = stylesheet_link_tag 'compiled/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'compiled/print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'compiled/ie.css', :media => 'screen, projection'
    %title
      RowLoader
    = javascript_include_tag 'jquery', 'jquery.inview', 'application'
    = csrf_meta_tag

  %body.bp.two_col
    #container
      = yield

